{% extends 'layout.html' %}

{% block body %}  

  <form method="POST" enctype=multipart/form-data action="">
  	<ul> <li><p>Must be .PNG</p></li> 
  		<li>File name = airdrop ID</p></li>
  	</ul>
    <div class="form-group">
      {{ form.hidden_tag() }}
   		{{ form.photo }} 
    </div>
    <input type="submit" class="btn btn-primary">
  </form>
  <div class="row">
      {% for hist in hists %}
      <div class="col-sm-1">
		<img src="{{url_for('static', filename=hist)}}" alt="{{hist}}" class="img-thumbnail">
    <form action="{{url_for('delete_picture', id=hist|replace("drops/", ""))}}" method="post">
    <input type="hidden" name="_method" value="DELETE">
    <input type="submit" value="Delete" class="btn btn-danger">
    </form>
  </div>
    {% endfor %}
  </div>
{% endblock %}
