{% extends 'layout.html' %}

{% block body %}  

  <form method="POST" enctype=multipart/form-data action="">
  	<ul> <li><p>Must be .PNG</p></li> 
  		<li>File name = airdrop ID</p></li>
  	</ul>
    <div class="form-group">
      {{ form.hidden_tag() }}
   		{{ form.photo }} 
    </div>
    <input type="submit" class="btn btn-primary">
  </form>
  <div>
      {% for hist in hists if  %}
		<img src="{{url_for('static', filename=hist)}}" alt="{{hist}}" class="img-thumbnail">
    {% endfor %}
  </div>
{% endblock %}
