{% extends 'layout.html' %}

{% block body %}
    <div class="container" width="400px">

      <div class="card">
          <div class="card-body">
            <h5 class="card-title">{{airdrop.fulltitle}}                {% if airdrop.facebook == True %}
                <span class="badge badge-primary">Facebook</span>
                {% endif %}
                {% if airdrop.telegram == True %}
                <span class="badge badge-primary">Telegram</span>
                {% endif %}</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><small>Rating:       {{airdrop.stars}}/5</small><div></div><small>Estimated value:       ${{airdrop.dollarvalue}}</small></li>
                <li class="list-group-item"><a href="{{airdrop.reflink}}" class="btn btn-primary card-link">View Airdrop</a></li>
                <li class="list-group-item"><small>Token Amount:{{airdrop.tokenammount}}</small></li>
            </ul>
          </div>  
        </div>

    </div>
{% endblock %}
