{% extends 'layoutsrb.html' %}
<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us18.list-manage.com","uuid":"94cac902f2db242993f4e03ce","lid":"0130abb898"}) })</script>
{% block body %}  
<div id="accordion">
  <div class="card">
    <div class="card-header bg-warning" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          <a class="text-white">Šta je Bitpilot.rs?</a>
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        Bitpilot je sajt koji pruža linkove ka najnovijim Airdrop-ovima.</div>
    </div>
  </div>
  <div class="card">
    <div class="card-header bg-warning" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
         <a class="text-white"> Šta je Airdrop? </a>
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        Airdrop je besplatna kriptovaluta koja se još naziva i novčić ili token. Ove tokene distribuiraju ICO, za više informacija pročitajte druga često postavljana pitanja.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header bg-warning" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <a class="text-white">Zašto ICO-i daju besplatne tokene? </a>
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        Tokeni se obično distribuiraju kao marketinška kampanja pre prodaje drugih tokena.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header bg-warning" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          <a class="text-white">Da li je to stvarno vredno? Besplatan novac?</a>
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
         Da! Ne košta Vas ništa da učestvujete, a dobijate tokene koje kasnije možete prodati i dobiti pravi novac. Pogledajte naš tutorijal za početnike i odmah počnite da zarađujete!
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header bg-warning" id="headingFive">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
         <a class="text-white"> Gde mogu prodati svoje tokene? </a>
        </button>
      </h5>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
      <div class="card-body">
        Na raznim menjačnicama, uskoro ćemo ubaciti njihova imena!
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header bg-warning" id="headingSix">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
         <a class="text-white"> Gde mogu čuvati svoje tokene?</a>
        </button>
      </h5>
    </div>
    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
      <div class="card-body">
        Za čuvanje tokena koje zaradite potrebna Vam je Ethereum adresa koja je kompatibilna sa ERC-20 standardom. Ne možete upotrebiti adresu sa menjačnice jer tako nećete dobiti nikakve tokene.Mi preporučujemo MyEtherWallet i hardverske novčanike kao što su Trezor i Ledger Nano S.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header bg-warning" id="headingSeven">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
         <a class="text-white"> Šta znači ocena u zvezdicama? </a>
        </button>
      </h5>
    </div>
    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
      <div class="card-body">
        Ocena u zvezdicama je naša lična procena projekta i vrednost njegovih tokena u airdrop-u.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header bg-warning" id="headingEight">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
          <a class="text-white">Nisam dobio tokene nakon što sam završio airdrop, zašto?</a>
        </button>
      </h5>
    </div>
    <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
      <div class="card-body">
         Tokeni se obično distribuiraju nakon inicijalne prodaje tokena tako da je to potpuno normalno. Ponekad, pre nego što se tokeni isporuče u vaš novčanik, može proći i nekoliko meseci. Takođe ponekad, ali retko, projekat ne uspe pa se tokeni ne distribuiraju.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header bg-warning" id="headingNine">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseNine" aria-expanded="false" aria-controls="collapseNine">
          <a class="text-white">Kako vas mogu kontaktirati (Bitpilot)?</a>
        </button>
      </h5>
    </div>
    <div id="collapseNine" class="collapse" aria-labelledby="headingNine" data-parent="#accordion">
      <div class="card-body">
         Kontaktirajte nas na kontakt@bitpilot.rs
      </div>
    </div>
  </div>
</div>

  <script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us18.list-manage.com","uuid":"94cac902f2db242993f4e03ce","lid":"0130abb898"}) })</script>


{% endblock %}