{% extends 'layout.html' %}

{% block body %}
  <h1>Dashboard <small> Welcome Ognjene</small></h1>
  <a class="btn btn-success" href="/add_airdrop"> Add Airdrop</a>
  <hr>
  <table class="table table-striped">
    <tr>
      <th>ID</th>
      <th>Full Title</th>
      <th>Short Title</th>
      <th></th>
      <th></th>
    </tr>
    {% for article in svidropovi %}
      <tr>
        <td>{{article.id}}</td>
        <td>{{article.fulltitle}}</td>
        <td>{{article.shorttitle}}</td>
        <td><a href="edit_airdrop/{{article.id}}" class="btn btn-default pull-right">Edit</a></td>
        <td>
          <form action="{{url_for('delete_airdrop', id=article.id)}}" method="post">
            <input type="hidden" name="_method" value="DELETE">
            <input type="submit" value="Delete" class="btn btn-danger">
          </form>
        </td>
      </tr>
    {% endfor %}
  </table>
{% endblock %}
