{% extends 'layout.html' %}

{% block body %}  

<div id="accordion">
  <div class="card">
    <div class="card-header bg-warning" id="headingOne">
      <h5 class="mb-0">
        <button class="btn btn-link" data-toggle="collapse" data-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
          <a class="text-white">What is Bit-Pilot?</a>
        </button>
      </h5>
    </div>

    <div id="collapseOne" class="collapse show" aria-labelledby="headingOne" data-parent="#accordion">
      <div class="card-body">
        Bit-Pilot is free service that provides links to latest Airdrops.</div>
    </div>
  </div>
  <div class="card">
    <div class="card-header bg-warning" id="headingTwo">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
         <a class="text-white"> What is an Airdrop? </a>
        </button>
      </h5>
    </div>
    <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo" data-parent="#accordion">
      <div class="card-body">
        Basically Airdrop is free cryptocurrency aka coins/tokens. These coins are distributed by ICOs, for more info read other FAQs.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header bg-warning" id="headingThree">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseThree" aria-expanded="false" aria-controls="collapseThree">
          <a class="text-white">Why ICOs give away free tokens?</a>
        </button>
      </h5>
    </div>
    <div id="collapseThree" class="collapse" aria-labelledby="headingThree" data-parent="#accordion">
      <div class="card-body">
        Tokens are usually distributed as a marketing campaign before the sale of other tokens.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header bg-warning" id="headingFour">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFour" aria-expanded="false" aria-controls="collapseFour">
          <a class="text-white">Is it really valuable? Free money??</a>
        </button>
      </h5>
    </div>
    <div id="collapseFour" class="collapse" aria-labelledby="headingFour" data-parent="#accordion">
      <div class="card-body">
        Yes! It doesn't cost anything to participate in an airdrop but you get tokens that you can sell later and get money. Go check out our How to tutorial and start earning right now!
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header bg-warning" id="headingFive">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseFive" aria-expanded="false" aria-controls="collapseFive">
         <a class="text-white"> Where can I sell my tokens? </a>
        </button>
      </h5>
    </div>
    <div id="collapseFive" class="collapse" aria-labelledby="headingFive" data-parent="#accordion">
      <div class="card-body">
        Check ICO site of the token you want to sell for news about listing.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header bg-warning" id="headingSix">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSix" aria-expanded="false" aria-controls="collapseSix">
         <a class="text-white"> Where can I store my tokens?</a>
        </button>
      </h5>
    </div>
    <div id="collapseSix" class="collapse" aria-labelledby="headingSix" data-parent="#accordion">
      <div class="card-body">
        For storing tokens you need Ethereum Wallet Address that is compatible with ERC-20. You can't use a wallet address from an exchange because you won't get any tokens. So how you get one? We recommend MyEtherWallet and hardware wallets like the Trezor and Ledger Nano S.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header bg-warning" id="headingSeven">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseSeven" aria-expanded="false" aria-controls="collapseSeven">
         <a class="text-white"> What does the star rating of an airdrop mean? </a>
        </button>
      </h5>
    </div>
    <div id="collapseSeven" class="collapse" aria-labelledby="headingSeven" data-parent="#accordion">
      <div class="card-body">
        The star rating is our personal rating of project and it's airdrop value.
      </div>
    </div>
  </div>
  <div class="card">
    <div class="card-header bg-warning" id="headingEight">
      <h5 class="mb-0">
        <button class="btn btn-link collapsed" data-toggle="collapse" data-target="#collapseEight" aria-expanded="false" aria-controls="collapseEight">
          <a class="text-white">I didn't receive tokens after completing airdrop, why?</a>
        </button>
      </h5>
    </div>
    <div id="collapseEight" class="collapse" aria-labelledby="headingEight" data-parent="#accordion">
      <div class="card-body">
        Tokens are usually distributed after the token sale so it's totally normal. Sometimes, before coins get delivered to your wallet it can take up to several months. Also sometimes but rarely the project fails and no tokens are awarded.
      </div>
    </div>
  </div>
</div>


{% endblock %}