{% extends 'layout.html' %}

{% block body %} 


<div class="row jumbotron">
<h3 class="display-4">You can earn up to </h3><h3 class="text-success display-4">&nbsp${{ svidropovi | sum(attribute='dollarvalue') }}&nbsp </h3> <h3 class="display-4">if you complete all airdrops on Bit-Pilot</h3>
</div>
  <h1 class="pb-3">Airdrops</h1>
<div class="row">
{% for article in svidropovi|sort(reverse=True, attribute='dollarvalue') %}
      <div class="col-sm-3" style="padding-bottom: 30px">
      <div class="card">
          <div class="card-header text-center">
          <img src="{{ url_for('static', filename = 'drops/'+ article.id|string +'.png') }}" alt="Card image cap" class="rounded-circle">
                <h5 style="padding-top: 5px">{{article.fulltitle}}</h5>
                <p>
                {% if article.telegram == True %}
                <span class="badge badge-secondary"><i class="fa fa-telegram"></i></span>
                {% endif %}
                {% if article.facebook == True %}
                <span class="badge badge-danger"><i class="fa fa-facebook-official"></i></span>
                {% endif %}
                {% if article.mail == True %}
                <span class="badge badge-warning"><i class="fa fa-envelope"></i></span>
                {% endif %}
                {% if article.twitter == True %}
                <span class="badge badge-primary"><i class="fa fa-twitter"></i></span>
                {% endif %}
                {% if article.other == True %}
                <span class="badge badge-info"><i class="fa fa-commenting"></i></span>
                {% endif %}
                </p>
              </div>
            <div class="card-body">
                <small><i class="fa fa-star" style="padding-right: 7px"></i>Rating:       {{article.stars}}/5</small><div></div><small><i class="fa fa-money" style="padding-right: 5px"></i>Estimated value:        {% if article.dollarvalue==0 %} TBD {% else %}
                ${{article.dollarvalue}} {% endif %}</small><div></div>
                <small><i class="fa fa-plus-circle" style="padding-right: 7px"></i>Amount of tokens:       {{article.tokenammount}}</small>
          </div>  
          <div class="card-footer text-center"><a href="{{article.reflink}}"  target="_blank" class="btn btn-warning card-link">View Airdrop</a></div>
          <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#{{article.id}}Modal">
            Instructions
          </button>
          <!-- Modal will this fix it?-->
              <div class="modal fade" id="{{article.id}}Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">{{article.fulltitle}}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body text-center">
                       <img src="{{ url_for('static', filename = 'drops/'+ article.id|string +'.png') }}" alt="Card image cap" class="rounded-circle">
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-warning" data-dismiss="modal">Close</button>
                    </div>
                  </div>
                </div>
              </div>
          <!--ENDMODAL-->
      </div>
    </div>
{% endfor %}
  </div>
{% endblock %}