{% extends 'layout.html' %}

{% block body %}


<p>OVDE POCINJE V1</p>
<p>Ovo mi deluje da je bolje resenje</p>

<div class="row">
{% for article in svidropovi %}
      <div class="col-sm-3">
      <div class="card">
          <div class="card-header text-center">
                <img src="http://via.placeholder.com/100x100" alt="Card image cap" class="rounded-circle">
                <h5 style="padding-top: 5px">{{article.fulltitle}}</h5>
              </div>
            <div class="card-body">
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><small>Rating:       {{article.stars}}</small><div></div><small>Estimated value:       ${{article.dollarvalue}}</small></li>
                <li class="list-group-item"><a href="airdrop/{{article.shorttitle}}" class="btn btn-primary card-link">View Airdrop</a></li>
            </ul>
          </div>  
      </div>
    </div>
{% endfor %}
  </div>
{% endblock %}