

{% for article_row in svidropovi | batch(4, '&nbsp;') %}
 <div class="card-deck div">
      {% for article in article_row %}
      <div class="card">
          <img class="card-img-top" src="http://via.placeholder.com/350x150" alt="Card image cap">
          <div class="card-body">
            <h5 class="card-title">{{article.fulltitle}}</h5>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><small>Rating:       {{article.stars}}</small><div></div><small>Estimated value:       ${{article.dollarvalue}}</small></li>
                <li class="list-group-item"><a href="article/{{article.id}}" class="btn btn-primary card-link">View Airdrop</a></li>
            </ul>
          </div>  
        </div>
      {% endfor %}
 </div>
{% endfor %}

