{% extends 'layoutsrb.html' %}
{% block body %} 

<div class="row jumbotron">
<script type="text/javascript" src="//downloads.mailchimp.com/js/signup-forms/popup/embed.js" data-dojo-config="usePlainJson: true, isDebug: false"></script><script type="text/javascript">require(["mojo/signup-forms/Loader"], function(L) { L.start({"baseUrl":"mc.us18.list-manage.com","uuid":"94cac902f2db242993f4e03ce","lid":"0130abb898"}) })</script>
<h3 class="display-4">Mozeš da zaradiš do </h3><h3 class="text-success display-4">&nbsp${{ svidropovi | sum(attribute='dollarvalue') }}&nbsp </h3> <h3 class="display-4">ako popuniš sve airdrop-ove sa Bitpilot.rs!</h3>
</div>
  <h1 class="pb-3">Airdropovi</h1>
<div class="row">
{% for article in svidropovi|sort(reverse=True, attribute='dollarvalue') %}
      <div class="col-md-4 col-lg-3 col-sm-6" style="padding-bottom: 30px">
      <div class="card">
        <h5 class="card-header text-center" style="padding-top: 5px">{{article.fulltitle}}</h5>
          <div class="card-header text-center">
          <img src="{{ url_for('static', filename = 'drops/'+ article.id|string +'.png') }}" alt="Card image cap" class="rounded-circle">
                <p>
                {% if article.telegram == True %}
                <span class="badge badge-secondary"><i class="fa fa-telegram"></i></span>
                {% endif %}
                {% if article.facebook == True %}
                <span class="badge badge-danger"><i class="fa fa-facebook-official"></i></span>
                {% endif %}
                {% if article.mail == True %}
                <span class="badge badge-warning"><i class="fa fa-envelope"></i></span>
                {% endif %}
                {% if article.twitter == True %}
                <span class="badge badge-primary"><i class="fa fa-twitter"></i></span>
                {% endif %}
                {% if article.other == True %}
                <span class="badge badge-info"><i class="fa fa-commenting"></i></span>
                {% endif %}
                </p>
              </div>
            <div class="card-body">
                <small><i class="fa fa-star" style="padding-right: 7px"></i>Ocena:       {{article.stars}}/5</small><div></div><small><i class="fa fa-money" style="padding-right: 5px"></i>Procenjena vrednost:        {% if article.dollarvalue==0 %} Nije određeno {% else %}
                ${{article.dollarvalue}} {% endif %}</small><div></div>
                <small><i class="fa fa-plus-circle" style="padding-right: 7px"></i>Broj tokena:  {% if article.tokenammount==0 %} Nije određeno {% else %}
                {{article.tokenammount}} {% endif %}</small>
          </div>  
          <div class="card-footer text-center"><a href="{{article.reflink}}"  target="_blank" class="btn btn-warning card-link">Popuni airdrop</a></div>
          <button type="button" class="btn btn-secondary" data-toggle="modal" data-target="#{{article.id}}Modal">
            Instrukcije
          </button>
          <!-- Modal will this fix it?-->
              <div class="modal fade" id="{{article.id}}Modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                  <div class="modal-content">
                    <div class="modal-header">
                      <h5 class="modal-title" id="exampleModalLabel">{{article.fulltitle}}</h5>
                      <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body text-center">
                       <img src="{{ url_for('static', filename = 'drops/'+ article.id|string +'.png') }}" alt="Card image cap" class="rounded-circle">
                       <p>{{article.tutorijalb|safe}}</p>
                    </div>
                  </div>
                </div>
              </div>
          <!--ENDMODAL-->
      </div>
    </div>
{% endfor %}
  </div>

{% endblock %}
